{% extends 'dashboard/base.html' %}

{% block content %}

<div class="container row">
<div class="col-2">
<div class="card text-white bg-primary my-3" style="max-width: 18rem;">
  <div class="card-header">Product</div>
  <div class="card-body">
    <!-- <h5 class="card-title">Primary card title</h5> -->
    <p class="card-text">{{ pro_count }}</p>
  </div>
</div>
</div>


<div class="col-2">
<div class="card text-white bg-secondary my-3" style="max-width: 18rem;">
  <div class="card-header">Order</div>
  <div class="card-body">
    <!-- <h5 class="card-title">Secondary card title</h5> -->
    <p class="card-text">{{ order_count }}</p>
  </div>
</div>
</div>

</div>



<div class="container row">
<div class="col-6">
{% if buyers %}
<div class="container col-6">
  <h3>Buyer Orders</h3>
<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">UserName</th>
      <th scope="col">Product</th>
      <th scope="col">Units</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for buyer in buyers%}
    <tr>
      <th scope="row">{{ buyer.id }}</th>
      <td>{{ buyer.buyer.username}}</td>
      <td>{{ buyer.product }}</td>
      <td>{{ buyer.units }}</td>
      <td>{{ buyer.status }}</td>

    </tr>
    {% endfor %}
    
  </tbody>
</table>

</div>
{% endif %}

</div>

<div class="col-6">
{% if suppliers %}
<div class="container col-6">
  <h3>Supplier Orders</h3>
<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">UserName</th>
      <th scope="col">Product</th>
      <th scope="col">Units</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for supplier in suppliers%}
    <tr>
      <th scope="row">{{ supplier.id }}</th>
      <td>{{ supplier.supplier.username}}</td>
      <td>{{ supplier.product }}</td>
      <td>{{ supplier.units }}</td>
      <td>{{ supplier.status }}</td>

    </tr>
    {% endfor %}
    
  </tbody>
</table>

</div>
{% endif %}
</div>

</div>

{% endblock content %}